---
// import { fade } from 'astro:transitions';
import twMerge from '$lib/tailwind';
import Layout from './Base.astro';

interface Props {
  title: string;
  description: string;
  class?: ClassName;
}
const { title, description, class: clasName } = Astro.props;

// transition:animate={fade({ duration: '0.3s' })}
---

<Layout
  {title}
  {description}>
  <main
    class={twMerge('content grow', clasName)}
    itemprop='mainContentOfPage'>
    <slot />
  </main>
</Layout>
